{% extends 'animalerie/base.html' %}
<a href="{% url 'animal_detail' id_character=animal.id_character %}">{{ animal.id_character }}</a>

{% block content %}
<style>
    table {
        width: auto;
        border-collapse: collapse;
    }
    th, td {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 40px;
        padding-right: 0px;
    }
</style>
<div style="display: flex; width: 100%;">
    <div style="flex: 75%;">
        <table style="margin-left: 90px;">
            <tr>
                <th rowspan="5"><img src="{{ animal.photo }}" width="350" height="350"></td>
                <td><h1 style="color: black;">{{ animal.id_character }}</h1></td>
            </tr>
            <tr>
                <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">État: {{ animal.etat }}</h4></td>
            </tr>
            <tr>
                <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Lieu: {{ animal.lieu }}</h4></td>
            </tr>

            {% if animal.etat == "Affamé" %}
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Action Possible: Nourrir</h4></td>
                </tr>
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Lieu Possible: Mangeoire</h4></td>
                </tr>
            {% endif %}
            {% if animal.etat == "Repus" %}
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Action Possible: Divertir</h4></td>
                </tr>
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Lieu Possible: Roue</h4></td>
                </tr>
            {% endif %}
            {% if animal.etat == "Fatigué" %}
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Action Possible: Coucher</h4></td>
                </tr>
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Lieu Possible: Nid</h4></td>
                </tr>
            {% endif %}
            {% if animal.etat == "Endormi" %}
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Action Possible: Réveiller</h4></td>
                </tr>
                <tr>
                    <td><h4 style="color: black; font-family: 'Times New Roman', Times, serif;">Lieu Possible: Litière</h4></td>
                </tr>
            {% endif %}

        </table>
    </div>

    <div style="margin-top: 150px; flex: 25%;">
        <form method="POST" style="color: #000000; font-size: large;">{% csrf_token %}
            <b> Changer </b> {{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
            <a href="{% url 'animaux_list' %}">Back</a>
            {% if message != ''%}
                <div style="width: 100%; margin-right: 0%;" role="alert">
                    {{message}}
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}